body{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/1200px-Flag_of_Japan.svg.png");
}

.japaneseFoods{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sushiButton{
  padding: 25px;
  border-radius: 10px;
  margin: 25px;
}
.ramenButton{
  padding: 25px;
  border-radius: 10px;
  margin: 25px;
}

.sushigif{
  width: 350px;
  height: 350px;
}
.ramengif{
  width: 350px;
  height: 350px;
}

h1{
  text-align: center;
}